@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #A68C7D;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #A68C7D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Playfair Display', serif;
}
